.SocialNet {
    float:right; padding-right: 10px;
 }
 table {
     width: 100%;
     padding-left:10px;
     padding-top: 50px;
 }
 td, th {
  padding: 10px;
 }
 h2:hover{
     color: rgba(177, 44, 238, 0.938);
     text-shadow:white 0 0 60px;
 }