/*General*/
.SocialNet { padding: 0px; padding-top: 25px; padding-right: 25px; float: right; }
h2:hover { color: rgba(177, 44, 238, 0.938); text-shadow:white 0 0 60px; }
.logo { float: left; padding-top:10px; padding-left: 20px ; width: 160px;}
.bg_hat {background: black no-repeat center top/cover; height:120px; width: 100%;}
.bg {background: url(..//kurs/Site/bg.jpg) no-repeat center top/cover; width: 100%;}
 * { margin: 0; padding: 0; box-sizing: border-box;}
.Pages { padding-left: 25px; padding-top: 40px ; float: left; width: 600px;  }
   ul { list-style: none; margin: 0;  padding-left: 0;}
   li {float: left; display:inline; padding-right: 25px;}
   a {text-decoration: none;}
.title { float: left; padding-top: 25px; padding-left: 40px; width: 400px;}

footer { background: black no-repeat center top/cover; height:22px; width: 100%; text-align: center;}

/* #loader {background-color: black; height: 1500px; width:100%; position: fixed; top: 50%; left: 50%; transform: translate(-50% , -50%); z-index: 999;}
#loader img {position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);} */

/*FONTs*/
 @font-face
 {
  font-family: FONT;
  src: url(..//kurs/Site/FONTs/JUSTICE\LEAGUE.ttf); 
  font-family: FONT2;
  src: url(..//kurs/Site/FONTs/trebucbd.ttf);
 }
    h1 { font-family: FONT, 'JUSTICE LEAGUE'; font-size: 45px; color: white;  }
    h2 { font-family: FONT2, 'trebucbd'; font-size: 40px; color:white ; }
    h3 { font-family: FONT2, 'trebucbd'; font-size: 14px; color:rgba(177, 44, 238, 0.938);  }
    h4 { font-family: FONT2, 'trebucbd'; font-size: 26px; color:white; position: absolute; top: 200px; left:320px; width: 440px;}
    h5 { font-family: FONT2, 'trebucbd'; font-size: 18px; color:white;}
